body {
    width: 100%;
    height: auto;
    /*background: #e0e0e0 !important;
    border-radius: 5px !important;*/
}

.paddBody {
    padding: 20px;
}

.card-header {
    padding: .20rem 1.2rem !important;
}